.list
  .list-header
    %h2.list-header-name
      = list.name
  .list-cards
    = render list.tasks
  = link_to 'Add a task...',
            new_list_task_path(list),
            class: 'add-task-link',
            remote: true,
            data: { toggle: 'modal', target: '#new_task_modal' }
